{% extends "base.html" %}

<!-- ------------------------------ -->
{% block style %}
<link rel="stylesheet" href="/static/control.css" />
{% endblock %}

<!-- ------------------------------ -->
{% block email %} Email Remote Control <br />
{% if isAuthor == True: %}
<span>{{client_email}}</span>
{% endif %} {% endblock %}

<!-- ------------------------------ -->
{% block body %}

<div class="background d-flex position-relative">
	<div id="loading-view"></div>
	<!-- command button -->
	<div class="action-board d-flex position-relative w-25">
		<div class="command-side">
			<div
				id="command-container"
				class="action-side d-flex flex-column justify-content-between align-items-center mx-3 my-5"
			></div>
			<div
				id="extend-command-container"
				class="position-absolute top-0 h-100 extend-command-container d-flex flex-column pt-5 ps-3"
				onmouseover="OpenExtendCommandBoard()"
				onmouseout="CloseExtendCommandBoard()"
			>
				<div class="extend-command" id="extend-command"></div>
			</div>
		</div>
	</div>

	<!-- mail box + action button  -->
	<div class="w-100 bg-white">
		<!-- mail box -->
		<div
			class="h-100 mail-box d-flex flex-column justify-content-center gap-2 px-3 py-3"
		>
			<div class="email-from d-flex justify-content-between">
				<div>
					<span class="fw-bold">To:&nbsp;</span>
					<span>{{server_email}}</span>
				</div>
				<button class="copy-btn" onclick="CopyContent('from')">
					<div
						data-bs-toggle="tooltip"
						data-bs-placement="top"
						title="Copy"
					>
						<img src="../static/assets/icons/copy.png" alt="copy icon" />
					</div>
				</button>
			</div>
			<div class="email-body h-100">
				<div class="d-flex justify-content-between align-items-center">
					<span class="fw-bold">Content:</span>
					<button class="copy-btn" onclick="CopyContent('content')">
						<div
							data-bs-toggle="tooltip"
							data-bs-placement="top"
							title="Copy"
						>
							<img
								src="../static/assets/icons/copy.png"
								alt="copy icon"
							/>
						</div>
					</button>
				</div>
				<span id="email_body"></span>
			</div>

			<!-- action button -->
			{% if isAuthor == True: %}
			<div
				class="command-btn d-flex align-items-start justify-content-end px-3 mt-2"
			>
				<div class="d-flex gap-2">
					<button class="cancel-btn bg-light" onclick="ClearAllCommand()">
						Cancel
					</button>

					<button
						id="send-btn"
						class="send-btn bg-light-black text-white d-flex justify-content-center"
						onclick="SendRequest()"
					>
						<span>Send&nbsp;</span>
						<img src="../static/assets/icons/send.png" alt="send icon" />
					</button>
				</div>
			</div>
			{% else %}
			<div class="empty-command-btn"></div>
			{% endif %}
			<!-- end action button -->
		</div>
	</div>

	<!-- Modal -->
	<div id="modal-container"></div>
</div>

{% endblock %} {% block ribbon_button %}

<div
	class="ribbon-btn-group d-flex justify-content-center align-items-center gap-2"
>
	<button data-bs-toggle="modal" data-bs-target="#aboutUsModal">
		<div data-bs-toggle="tooltip" data-bs-placement="top" title="About us">
			<img src="../static/assets/icons/team.png" alt="about us icon" />
		</div>
	</button>
	<button data-bs-toggle="modal" data-bs-target="#instructionModal">
		<div data-bs-toggle="tooltip" data-bs-placement="top" title="Instruction">
			<img
				src="../static/assets/icons/instruction.png"
				alt="Instruction icon"
			/>
		</div>
	</button>

	{% if isAuthor == True: %}
	<form action="/disconnect" method="POST">
		<button
			data-bs-toggle="tooltip"
			data-bs-placement="top"
			title="Disconnect"
		>
			<img src="../static/assets/icons/exit.png" alt="exit icon" />
		</button>
	</form>
	{% else %}
	<form action="/" method="GET">
		<button data-bs-toggle="tooltip" data-bs-placement="top" title="Login">
			<img src="../static/assets/icons/login.png" alt="login icon" />
		</button>
	</form>
	{% endif %}
</div>

{% endblock %} {% block script %}
<script>
	window.onload = function () {
		RenderCommandButton();
	};

	let command_tree = [
		{
			command: "Key logger",
			id: "key-logger",
			input: [],
			child_command: [],
		},

		{
			command: "Capture screen",
			id: "capture-screen",
			input: [],
			child_command: [],
		},
		{
			command: "Capture webcam",
			id: "capture-webcam",
			input: [],
			child_command: [],
		},
		{
			command: "MAC address",
			id: "mac-address",
			input: [],
			child_command: [],
		},
		{
			command: "Directory tree",
			id: "directory-tree",
			input: [],
			child_command: [
				{
					command: "Show",
					id: "show",
					input: [
						{
							field: "path",
							type: "text",
							placeholder: 'C:"',
						},
						{
							field: "level",
							type: "number",
							placeholder: "",
						},
					],
					child_command: [],
				},
				{
					command: "Copy file",
					id: "copy-file",
					input: [
						{
							field: "source",
							type: "text",
							placeholder: "C:/",
						},
						{
							field: "destination",
							type: "text",
							placeholder: "C:/",
						},
					],
					child_command: [],
				},
				{
					command: "Send file to folder",
					id: "send-file",
					input: [
						{
							field: "source",
							type: "text",
							placeholder: "C:/",
						},
						{
							field: "destination",
							type: "text",
							placeholder: "C:/",
						},
					],
					child_command: [],
				},
				{
					command: "Delete file",
					id: "delete-file",
					input: [
						{
							field: "path",
							type: "text",
							placeholder: "C:/",
						},
					],
					child_command: [],
				},
			],
		},

		{
			command: "Application/Process",
			id: "app-proc",
			input: [],
			child_command: [
				{
					command: "Application",
					id: "application",
					input: [],
					child_command: [],
				},
				{
					command: "List",
					id: "list",
					input: [],
					child_command: [],
				},
				{
					command: "Kill",
					id: "kill",
					input: [
						{
							field: "id",
							type: "number",
							placeholder: "",
						},
					],
					child_command: [],
				},
				{
					command: "Start",
					id: "start",
					input: [
						{
							field: "name",
							type: "text",
							placeholder: "",
						},
					],
					child_command: [],
				},
			],
		},
		{
			command: "Registry",
			id: "registry",
			input: [],
			child_command: [
				{
					command: "Get value",
					id: "get-val",
					input: [
						{
							field: "path",
							type: "text",
							placeholder: "HKEY_CURRENT_USER\\SOFTWARE\\MyKey",
						},
						{
							field: "name-value",
							type: "text",
							placeholder: "Test123",
						},
					],
					child_command: [],
				},
				{
					command: "Set value",
					id: "set-val",
					input: [
						{
							field: "path",
							type: "text",
							placeholder: "HKEY_CURRENT_USER\\SOFTWARE\\MyKey",
						},
						{
							field: "name-value",
							type: "text",
							placeholder: "Test123",
						},
						{
							field: "value",
							type: "text",
							placeholder: "Test123, 0101,...",
						},
						{
							field: "value-type",
							type: "radio",
							value: [
								"REG_SZ",
								"REG_BINARY",
								"REG_DWORD",
								"REG_QWORD",
								"REG_MULTI_SZ",
								"REG_EXTEND_SZ",
							],
						},
					],
					child_command: [],
				},
				{
					command: "Create key",
					id: "create-key",
					input: [
						{
							field: "path",
							type: "text",
							placeholder: "HKEY_CURRENT_USER\\SOFTWARE\\MyKey\\NewKey",
						},
					],
					child_command: [],
				},
				{
					command: "Delete key",
					id: "delete-key",
					input: [
						{
							field: "path",
							type: "text",
							placeholder: "HKEY_CURRENT_USER\\SOFTWARE\\MyKey\\NewKey",
						},
					],
					child_command: [],
				},
			],
		},
		{
			command: "Shutdown/Logout",
			id: "shutdown-logout",
			input: [],
			child_command: [
				{
					command: "Shutdown",
					id: "shutdown",
					input: [],
					child_command: [],
				},
				{
					command: "Logout",
					id: "logout",
					input: [],
					child_command: [],
				},
			],
		},
	];

	let list_command = [];
	let content = ``;
	let extend_board_index = 0;
	for (let i = 0; i < command_tree.length + 1; i++) {
		list_command.push([]);
	}

	async function CopyContent(field) {
		clipboard = content.replaceAll("<br/>", "\n");

		if (field == "from") {
			clipboard = `{{server_email}}`;
		}

		await navigator.clipboard.writeText(clipboard);
	}

	function SendingAnimate() {
		loading_view = document.getElementById("loading-view");

		loading_view.innerHTML = `
			<div class="loading-view">
				<div class="w-100 h-75 d-flex flex-column justify-content-center align-items-center gap-2">
					<div class="spinner-border text-light" role="status">
						<span class="visually-hidden">Loading...</span>
					</div>
					<h4 class="text-white">Sending...</h4>
				</div>
			</div>`;

		send_btn = document.getElementById("send-btn");
		send_btn.disabled = true;
	}

	function CheckInputAll(parent_idx, child_idx) {
		flag = true;
		for (
			let i = 0;
			i < command_tree[parent_idx].child_command[child_idx].input.length;
			i++
		) {
			id = `${parent_idx}.${child_idx}_input-${command_tree[parent_idx].child_command[child_idx].id}-${command_tree[parent_idx].child_command[child_idx].input[i].field}`;

			element = document.getElementById(id);

			console.log(
				"🚀  command_tree[parent_idx].child_command[child_idx].input[i].field:",
				command_tree[parent_idx].child_command[child_idx].input[i].field,
			);

			try {
				if (!element.value) {
					flag = false;
					break;
				}
			} catch (error) {}
		}

		return flag;
	}

	function InputValue(id) {
		index = id.split("_")[0];
		field = id.split("_")[1];

		parent_idx = index.split(".")[0];
		child_idx = parseInt(index.split(".")[1]);

		input_ele = document.getElementById(id);

		submit_modal_btn_id = `${parent_idx}.${child_idx}-submit-modal`;
		submit_modal_btn = document.getElementById(submit_modal_btn_id);
		submit_modal_btn.disabled = CheckInputAll(parent_idx, child_idx)
			? false
			: true;

		// print("list_command", list_command);
	}

	function PositiveNumber(number) {
		number = !!number && Math.abs(number) >= 0 ? Math.abs(number) : null;
		return number;
	}

	function GenModalHTML(parent_idx, child_idx, child_command) {
		modal_html = ``;

		modal_html += `
			<div
				class="modal fade"
				id="inputCommandModal-${child_command.id}"
				tabindex="-1"
				aria-labelledby="exampleModalLabel"
				aria-hidden="true"
			>
				<div class="modal-dialog">
					<div class="modal-content rounded">
						<div class="ribbon-bar rounded py-2 d-flex justify-content-between align-items-center">
							<button
								class="action-dot dot-red border-0 ms-3"
								data-bs-dismiss="modal"
							>
								<span class="action-dot dot-red"></span>
							</button>
							<h5 class="modal-title w-100 text-center" id="modal-label">${child_command.command}</h5>
						</div>
						<div class="modal-body">
							<div>`;

		for (let i = 0; i < child_command.input.length; i++) {
			if (child_command.input[i].type == "radio") {
				modal_html += `
									<div class="mb-2 row">
										<label class="col-2" for="input-${parent_idx}.${child_idx}_${child_command.input[i].field}" class="col-form-label">
											${child_command.input[i].field}:
										</label>
										<div class="col row">
										`;

				for (let j = 0; j < child_command.input[i].value.length; j++) {
					modal_html += `
										<span class="col-6">
											<div class="d-flex gap-2">
												<input type="radio" id="${child_command.input[i].value[j]}" name="${
						child_command.id
					}_${child_command.input[i].type}" value="${
						child_command.input[i].value[j]
					}" ${j == 0 ? "checked" : ""}>
												<label for="${child_command.input[i].value[j]}">${
						child_command.input[i].value[j]
					}</label>
											</div>
										</span>
										`;
				}

				modal_html += `</div></div>`;
			} else {
				modal_html += `
									<div class="mb-2 row">
										<label class="col-2" for="input-${parent_idx}.${child_idx}_${
					child_command.input[i].field
				}" class="col-form-label">
											${child_command.input[i].field}:
										</label>
										<input
											class="col"
											type="${child_command.input[i].type}" 
											${child_command.input[i].type == "number" ? " min='0'" : ""}
											id="${parent_idx}.${child_idx}_input-${
					command_tree[parent_idx].child_command[child_idx].id
				}-${child_command.input[i].field}"
											placeholder="${child_command.input[i].placeholder}"
											oninput="${
												child_command.input[i].type == "number"
													? "PositiveNumber(this.value); InputValue(this.id)"
													: "InputValue(this.id);"
											}"
										/>
									</div>
							`;
			}
		}
		modal_html += `
							</div>
						</div>
						<div class="command-btn d-flex align-items-start justify-content-end p-3 pt-0 h-25 gap-2">
							<button
								type="button"
								class="bg-light"
								data-bs-dismiss="modal"
							>
								Cancel
							</button>
							<button
								id="${parent_idx}.${child_idx}-submit-modal"
								type="button"
								class="submit-btn bg-light-black text-white"
								data-bs-dismiss="modal"
								onclick="AddCommand(
									'${parent_idx}.${child_idx}_${command_tree[parent_idx].child_command[child_idx].command}'
								)"
								disabled>
								Submit
							</button>
						</div>
					</div>
				</div>
			</div>`;

		return modal_html;
	}

	function RenderCommandButton() {
		command_container = document.getElementById("command-container");
		extend_command = document.getElementById("extend-command");
		modal_container = document.getElementById("modal-container");

		command_container_html = ``;
		extend_command_html = ``;
		modal_container_html = ``;

		for (let i = 0; i < command_tree.length; i++) {
			has_child = command_tree[i].child_command.length > 0 ? true : false;

			// Render command button to command_container
			command_container_html += `
				<button
					id= "command-${i}"
					class="control-command-btn"

					${has_child ? "" : `onclick="AddCommand('${i}_${command_tree[i].command}')"`}

					onmouseover="UpdateExtendBoard(${i})"
					onmouseout="CloseExtendCommandBoard()"
				>
					${command_tree[i].command}
				</button>
			`;

			// Check if command has child command
			// If it has, render it to extend_command
			if (has_child) {
				extend_command_html += `<div id="group-command-${i}" class="d-none">`;

				for (let j = 0; j < command_tree[i].child_command.length; j++) {
					if (command_tree[i].child_command[j].input.length > 0) {
						//extend_command_html
						extend_command_html += `
							<button
								id= "command-${i}.${j}"
								type="button"
								class="control-command-btn"
								data-bs-toggle="modal"
								data-bs-target="#inputCommandModal-${command_tree[i].child_command[j].id}"
							>
								${command_tree[i].child_command[j].command}
							</button>
					`;

						modal_container_html += GenModalHTML(
							i,
							j,
							command_tree[i].child_command[j],
						);
					} else {
						extend_command_html += `
							<button
								id= "command-${i}.${j}"
								class="control-command-btn"
								onclick="AddCommand('${i}.${j}_${command_tree[i].child_command[j].command}')"
							>
								${command_tree[i].child_command[j].command}
							</button>
						`;
					}
				}

				extend_command_html += `</div>`;
			}
		}

		command_container.innerHTML = command_container_html;
		extend_command.innerHTML = extend_command_html;
		modal_container.innerHTML = modal_container_html;
	}

	function ClearAllCommand() {
		// update list command
		list_command = [];

		// update command button
		let controlCommandBtn = document.getElementsByClassName(
			"control-command-btn",
		);
		for (let i = 0; i < controlCommandBtn.length; i++) {
			controlCommandBtn[i].className = "control-command-btn";
		}

		// update command board
		let email_body = document.getElementById("email_body");
		content = ``;
		email_body.innerHTML = content;
	}

	function UpdateExtendBoard(index) {
		extend_board_index = index;
		OpenExtendCommandBoard();
	}

	function CheckCommandExist(command) {
		for (let i = 0; i < list_command.length; i++) {
			for (let j = 0; j < list_command[i].length; j++) {
				cmd = list_command[i][j];

				try {
					if (cmd[0].includes("[")) {
						cmd = [cmd[0].split("[")[0]];
					}
				} catch (error) {}

				if (cmd == command) {
					return true;
				}
			}
		}

		return false;
	}

	function CloseExtendCommandBoard() {
		document
			.getElementById("extend-command-container")
			.classList.add("d-none");
		for (let i = 0; i < command_tree.length; i++) {
			group_command = document.getElementById(`group-command-${i}`);
			if (group_command) {
				group_command.className = "d-none";
			}
		}
	}

	function OpenExtendCommandBoard() {
		index = extend_board_index;

		document
			.getElementById("extend-command-container")
			.classList.remove("d-none");

		for (let i = 0; i < command_tree.length; i++) {
			group_command = document.getElementById(`group-command-${i}`);
			parent_command = document.getElementById(`command-${index}`);

			if (group_command) {
				group_command.className =
					index == i ? "d-flex flex-column gap-2 p-3" : "d-none";
				// }
			}
		}
	}

	function AddCommand(in_command) {
		console.log("======================");
		command = in_command.split("_")[1];
		console.log("🚀  in_command:", in_command);
		index = in_command.split("_")[0];
		console.log("index:", index, " - type:", typeof index);
		parentIndex = index.split(".")[0];
		childIndex = index.split(".")[1] ? index.split(".")[1] : null;

		console.log("parent index:", parentIndex);
		console.log("child index:", childIndex);

		console.log(
			"🚀  CheckCommandExist(command):",
			CheckCommandExist(command),
		);
		// update list_command
		if (CheckCommandExist(command)) {
			// remove command
			if (childIndex) {
				//is child command
				console.log("remove - child command");
				console.log("🚀  childIndex:", childIndex);
				list_command[parentIndex][parseInt(childIndex) + 1] = null;

				// change data-bs-target
				let command_btn = document.getElementById(
					`command-${parentIndex}.${childIndex}`,
				);

				command_btn.dataset.bsTarget = `#inputCommandModal-${command_tree[parentIndex].child_command[childIndex].id}`;
				command_btn.innerHTML = `
					<div>
						${command_tree[parentIndex].child_command[childIndex].command}
					</div>					`;

				// remove parent if not pick any child
				let clearParent = true;

				for (let i = 1; i < list_command[parentIndex].length; i++) {
					if (list_command[parentIndex][i]) {
						clearParent = false;
						break;
					}
				}

				if (clearParent) {
					list_command[parentIndex] = [];
				}
				console.log("clear parent: ", clearParent);
			} //is parent command
			else {
				console.log("remove - parent command");
				list_command[parentIndex] = [];
			}
		} else {
			// add command
			if (childIndex) {
				//is child command
				console.log("add - child command");

				// if child command has input
				if (
					command_tree[parentIndex].child_command[childIndex].input
						.length > 0
				) {
					command += "[";

					for (
						let i = 0;
						i <
						command_tree[parentIndex].child_command[childIndex].input
							.length;
						i++
					) {
						try {
							command_id = `${parentIndex}.${childIndex}_input-${command_tree[parentIndex].child_command[childIndex].id}-${command_tree[parentIndex].child_command[childIndex].input[i].field}`;

							console.log("🚀  command_id:", command_id);

							command_value = document.getElementById(command_id).value;
						} catch (error) {
							// radio input case
							radio_name = `${command_tree[parentIndex].child_command[childIndex].id}_radio`;

							console.log("🚀  radio_name:", radio_name);

							values = document.getElementsByName(radio_name);
							for (radio of values) {
								if (radio.checked) {
									command_value = radio.value;
								}
							}
						}

						command += i == 0 ? "" : ", ";
						command += `${command_tree[parentIndex].child_command[childIndex].input[i].field}:${command_value}`;
					}

					command += "]";

					// set-val_radio

					// change data-bs-target
					let command_btn = document.getElementById(
						`command-${parentIndex}.${childIndex}`,
					);

					command_btn.dataset.bsTarget = "#none";

					command_btn.innerHTML = `
					<div
						onclick="AddCommand('${parentIndex}.${childIndex}_${command_tree[parentIndex].child_command[childIndex].command}')"
					> ${command_tree[parentIndex].child_command[childIndex].command} </div>
					`;
					console.log("-- none --");
				}

				// update list_command
				list_command[parentIndex][parseInt(childIndex) + 1] = [command];
				list_command[parentIndex][0] = [command_tree[parentIndex].command];
			} //is parent command
			else {
				console.log("add - parent command");
				list_command[parentIndex][0] = [command];
			}
		}

		// print selected command in command board
		let email_body = document.getElementById("email_body");

		content = ``;

		for (let i = 0; i < list_command.length; i++) {
			if (list_command[i].length != 0) {
				content += list_command[i].filter(Boolean).join(" - ");
				content += "<br/>";
			}
		}
		email_body.innerHTML = content;

		// set selected
		UpdateCommandBtnState();

		console.log("list:", list_command);
	}

	function UpdateCommandBtnState() {
		console.log("-----------------------");
		for (let i = 0; i < command_tree.length; i++) {
			for (let j = 0; j <= command_tree[i].child_command.length; j++) {
				id = j == 0 ? `command-${i}` : `command-${i}.${j - 1}`;

				try {
					let selectedCommand = document.getElementById(id);

					selectedCommand.className = list_command[i][j]
						? "control-command-btn selected"
						: "control-command-btn";
				} catch (error) {
					console.log("🚀  error:", error);
				}
			}
		}
	}

	function SendRequest() {
		console.log("======== Send Request ========");
		console.log("content:", content);
		SendingAnimate();

		fetch(`/send-request`, {
			method: "POST",
			headers: {
				"Content-Type": "application/json",
				"Access-Control-Allow-Origin": "*",
			},
			body: JSON.stringify({ content: content }),
		})
			.then((response) => {
				console.log("Data posted successfully!", response);
				document.location.href = "{{url_for('review')}}";
			})
			.catch((error) => {
				console.error("Error posting data:", error);
				document.location.href = "{{url_for('control')}}";
			});
	}
</script>
{% endblock %}
