{% extends "base.html" %}

<!-- ------------------------------ -->
{% block style %}
<link rel="stylesheet" href="/static/login_page.css" />
<link rel="stylesheet" href="/static/control.css" />
{% endblock %}

<!-- ------------------------------ -->
{% block email %} Email Remote Control {% endblock %}

<!-- ------------------------------ -->
{% block body %}
<div class="w-100">
	<!-- begin login form -->
	<div
		class="d-flex flex-column justify-content-center align-items-center gap-2 mt-5 pt-5"
	>
		<h1 class="mt-5">Login</h1>
		<form method="post">
			<button
				class="login-btn d-flex justify-content-between align-items-center"
				type="submit"
			>
				<img src="../static/assets/icons/google.png" alt="google icon" />
				<div class="w-100 pe-2">
					<span> Login with Google </span>
				</div>
			</button>
			<div class="text-center text-danger">{{error}}</div>
		</form>
	</div>
	<!-- end login form -->
</div>
{% endblock %} {% block ribbon_button %}

<div
	class="ribbon-btn-group d-flex justify-content-center align-items-center gap-3"
>
	<button data-bs-toggle="modal" data-bs-target="#aboutUsModal">
		<div data-bs-toggle="tooltip" data-bs-placement="top" title="About us">
			<img src="../static/assets/icons/team.png" alt="about us icon" />
		</div>
	</button>
</div>

{% endblock %}
