{% extends "base.html" %}

<!-- ------------------------------ -->
{% block style %}
<link rel="stylesheet" href="/static/control.css" />
<link rel="stylesheet" href="/static/review.css" />
{% endblock %}

<!-- ------------------------------ -->
{% block email %} Email Remote Control <br />
<span>{{client_email}}</span>
{% endblock %}

<!-- ------------------------------ -->
{% block body %}
<div class="background">
	<div class="action-board d-flex position-relative h-100">
		<div class="bg-theme text-center mx-3 my-4">
			<h2>Server Reply</h2>
		</div>
		<div
			class="w-100 d-flex flex-column justify-content-center gap-2 p-3 bg-white overflow-hidden"
		>
			<div class="email-from">
				<span class="fw-bold">From:&nbsp;</span>
				<span>{{server_email}}</span>
			</div>
			<div class="email-body h-100 overflow-scroll">
				<div class="d-flex justify-content-between align-items-center">
					<span class="fw-bold">Content:</span>
					<span class="date-recieve">{{date}}</span>
				</div>
				<div id="email_body">{{body}}</div>
			</div>

			<div
				class="h-25 command-btn d-flex align-items-start justify-content-end p-3"
			>
				<form action="/another-request" method="POST">
					<button class="send-btn bg-light-black text-white">
						<div class="d-flex justify-content-center align-items-center">
							<div class="ok-btn">
								<div
									class="d-flex justify-content-center align-items-center gap-2"
								>
									<span>OK</span>
									<i class="far fa-thumbs-up"></i>
								</div>
								<span class="detail-info">Send other request</span>
							</div>
						</div>
					</button>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %} {% block ribbon_button %}

<div
	class="ribbon-btn-group d-flex justify-content-center align-items-center gap-3"
>
	<button data-bs-toggle="modal" data-bs-target="#aboutUsModal">
		<div data-bs-toggle="tooltip" data-bs-placement="top" title="About us">
			<img src="../static/assets/icons/team.png" alt="about us icon" />
		</div>
	</button>

	<form action="/disconnect" method="POST">
		<button
			data-bs-toggle="tooltip"
			data-bs-placement="top"
			title="Disconnect"
		>
			<img src="../static/assets/icons/exit.png" alt="exit icon" />
		</button>
	</form>
</div>

{% endblock %} {% block script %}
<script>
	let images = [
		{
			service: "Capture screen",
			name: "screenshot.png",
			path: "../static/assets/received_files/screenshot.png",
		},
		{
			service: "Capture webcam",
			name: "webcam_image.png",
			path: "../static/assets/received_files/webcam_image.png",
		},
	];

	window.onload = function () {
		body = document.getElementById("email_body");

		for (let i = 0; i < images.length; i++) {
			console.log(
				`🚀  CheckFileExist('${images[i].name}'):`,
				CheckFileExist(images[i]["path"]),
			);
			if (CheckFileExist(images[i]["path"])) {
				body.innerHTML += `
					<div class="image-show">
						<p class="m-0"><b>${images[i]["service"]}:</b></p>
						<button 
							class="position-relative" 
							data-bs-toggle="modal" 
							data-bs-target="#exampleModal-${i}"  
							onmouseover="showImageIcon(true, ${i})"  
							onmouseout="showImageIcon(false, ${i})"
						>
							<img  
								src="${images[i]["path"]}" 
								alt="${images[i]["name"]}" 
								/>
							<div id="image-text-${i}" class="invisible">
								<div id="image-txt">
									<img src="../static/assets/icons/image.png" alt="image icon"/>
									<p class="m-0">${images[i]["name"]}</p>
								</div>
							</div>
						</button>
						<br/><br/>
					</div>

					<div class="modal fade" id="exampleModal-${i}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content rounded">
								<div class="ribbon-bar rounded py-2 d-flex justify-content-between align-items-center">
									<button
										class="action-dot dot-red border-0 ms-3 w-25"
										data-bs-dismiss="modal"
									>
										<span class="action-dot dot-red"></span>
									</button>
									<h5 class="modal-title w-50 text-center" id="modal-label">${images[i]["name"]}</h5>
									<button	class="download-img me-3" onclick="DownloadImage('${images[i]["path"]}')">	
										<img  src="../static/assets/icons/download.png" alt="download icon" />
									</button>
								</div>
								<div class="modal-body">
									<img  
									src="${images[i]["path"]}" 
									alt="${images[i]["name"]}" 
									/>
								</div>
							</div>
						</div>
					</div>
			`;
			}
		}
	};

	function showImageIcon(is_show, idx) {
		id = "image-text-" + idx;
		console.log("id: ", id);
		image_text = document.getElementById(id);

		if (is_show) image_text.className = "visible";
		else image_text.className = "invisible";
	}

	function CheckFileExist(file_path) {
		var http = new XMLHttpRequest();
		http.open("HEAD", file_path, false);
		http.send();
		return http.status != 404;
	}

	async function DownloadImage(img_path) {
		console.log("Download image: ", img_path);
		img_name = img_path.split("/")[img_path.split("/").length - 1];

		const image = await fetch(img_path);
		const imageBlog = await image.blob();
		const imageURL = URL.createObjectURL(imageBlog);

		const link = document.createElement("a");
		link.href = imageURL;
		link.download = img_name;
		document.body.appendChild(link);
		link.click();
		document.body.removeChild(link);
	}
</script>
{% endblock %}
