.background {
	width: 100%;
	height: 600px !important;
	background-size: 400px;
}

.action-board {
	background-color: rgb(255, 255, 255, 0.4);
}

.action-side > button,
.extend-command button {
	width: 150px;
	padding: 7px 10px;
	margin-bottom: 7px;
	background-color: transparent;
	text-align: left;
	border-radius: 7px;
	border-width: 0px;
}

.extend-command button input {
	width: 100%;
	border-width: 0px;
	border-radius: 5px;
	margin-top: 4px;
	padding: 5px;
}

.action-side > button:hover,
.extend-command button:hover {
	background-color: rgba(0, 0, 0, 0.075);
}

.action-side > button.selected,
.extend-command button.selected {
	background-color: rgba(0, 0, 0, 0.075);
}

.extend-command-container {
	left: 165px;
}

.extend-command {
	width: auto;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 1);
}

.command-btn {
	height: 100px;
}

.command-btn button {
	border-width: 0px;
	border-radius: 7px;
	padding: 5px 20px;
}

.command-btn button:hover,
.ribbon-btn-group button:hover {
	filter: brightness(90%);
	transform: scale(1.05);
	transition: 0.2s;
}

.command-btn img,
.ribbon-btn-group img {
	width: 25px;
}

.ribbon-btn-group button {
	border: none;
}

.mail-box {
	height: 450px;
}
.email-from,
.email-body,
.modal-dialog input {
	background-color: #f2f2f2;
	padding: 10px;
	margin: 0px !important;

	border: thin solid rgba(117, 117, 117, 0.1);
	border-radius: 7px;
}

.modal-body label {
	text-transform: capitalize;
	display: flex;
	align-items: center;
}
